.slide, .card-actions {
    position: absolute;
    right: 5px;
}
  
.card {
    margin: 5px;
}

.place-room-number > p {
    display: inline;
}

.place-room-number {
    font-size: 0.8rem;
    color: grey;
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 1rem;
}

mat-card {
    width: 300px;
}