.buttons-container {
    display: flex;
    justify-content: flex-end;
}

.basic-info {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-between;
    margin: 10px;
}

.basic-info > p {
    width: 45%;
}

.form-reservation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.form-field {
    width: 45%;
}

mat-form-field {
    width: 100%;
}