<h1 mat-dialog-title>Confirmar Reserva</h1>
<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Datos Básicos">
            <div class="basic-info tab-content">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Hotel</mat-label>
                        <input matInput placeholder="Ingrese el nombre" [(ngModel)]="reservation.Hotel" [disabled]="true">
                        <mat-icon matSuffix>business</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Habitación</mat-label>
                        <input matInput placeholder="Ingrese la ubicación" [(ngModel)]="reservation.Room" [disabled]="true">
                        <mat-icon matSuffix>hotel</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" [ariaReadOnly]="true">
                        <mat-label>Fecha de llegada</mat-label>
                        <input matInput placeholder="Ingrese la ubicación"[(ngModel)]="reservation.StartDate" [disabled]="true">
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de salida</mat-label>
                        <input matInput placeholder="Ingrese la ubicación"[(ngModel)]="reservation.EndDate" [disabled]="true">
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Contacto de emergencia</mat-label>
                        <input matInput placeholder="Ingrese la ubicación"[(ngModel)]="reservation.ContactName" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Nro. Contacto</mat-label>
                        <input matInput placeholder="Ingrese la ubicación"[(ngModel)]="reservation.ContactPhone" required>
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Huespedes">
            <div class="ab-content">
                <mat-accordion class="add-guest-container" multi>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Agregar Huesped
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="form-reservation">
                        <div class="form-field">
                          <mat-form-field appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.FirstName" required>
                            <mat-icon matSuffix>business</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Apellidos</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.LastName" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Fecha de nacimiento</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.Birthday" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Genero</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.Gender" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Tipo de documento</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.DocumentType" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Nro. de documento</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.DocumentNumber" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.Email" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>Nro. de contacto</mat-label>
                              <input matInput placeholder="Ingrese el nombre" [(ngModel)]="guest.ContactPhone" required>
                              <mat-icon matSuffix>business</mat-icon>
                            </mat-form-field>
                        </div>
                        
                        
                        <div class="buttons-container">
                          <button mat-raised-button color="accent" (click)="true">Agregar</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                
                
                  <mat-tab-group>
                    <mat-tab label="Listado de habitaciones">
                
                      <div class="rooms-list">
                        <table mat-table *ngIf="dataSource" [dataSource]="dataSource">
                
                          <ng-container matColumnDef="FirstName">
                            <th mat-header-cell *matHeaderCellDef>Nombres</th>
                            <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="LastName">
                            <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                            <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                          </ng-container>       

                          <ng-container matColumnDef="Birthday">
                            <th mat-header-cell *matHeaderCellDef>Nacimiento</th>
                            <td mat-cell *matCellDef="let element"> {{element.Birthday}} </td>
                          </ng-container>    
                          
                          <ng-container matColumnDef="Gender">
                            <th mat-header-cell *matHeaderCellDef>Genero</th>
                            <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
                          </ng-container>     

                          <ng-container matColumnDef="DocumentType">
                            <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
                            <td mat-cell *matCellDef="let element"> {{element.DocumentType}} </td>
                          </ng-container>     

                          <ng-container matColumnDef="DocumentNumber">
                            <th mat-header-cell *matHeaderCellDef>Nro. de documento</th>
                            <td mat-cell *matCellDef="let element"> {{element.DocumentNumber}} </td>
                          </ng-container>    
                          
                          <ng-container matColumnDef="Email">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                          </ng-container> 

                          <ng-container matColumnDef="ContactPhone">
                            <th mat-header-cell *matHeaderCellDef>Nro. de contacto</th>
                            <td mat-cell *matCellDef="let element"> {{element.ContactPhone}} </td>
                          </ng-container> 
                
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table> 
                
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                          aria-label="Select page of periodic elements" *ngIf="reservation.Guests.length > 5">
                        </mat-paginator>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </mat-tab>
    </mat-tab-group>



</div>

<div mat-dialog-actions class="buttons-container">
    <button mat-raised-button color="primary" (click)="onNoClick()">OK</button>
</div>