<h1 mat-dialog-title>Confirmar Reserva</h1>
<div mat-dialog-content>
    <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="Datos Básicos">
          <div class="tab-content">
            <app-create-reservation-basic-info (basicInfoAdded)="addGuestsStep()" />         
          </div>
        </mat-tab>
        <mat-tab label="Huéspedes">
            <div class="tab-content">
              <app-create-reservation-guests/>    
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div mat-dialog-actions class="buttons-container">
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="reservation" [disabled]="!isFormValid">Guardar</button>
</div>