.basic-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.basic-info > span {
    width: 30%;
}

mat-tab-group {
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    justify-content: end;
}
