<mat-card class="mat-elevation-z4 card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <div class="search-form">
              <mat-form-field appearance="outline">
                <mat-label>Fecha Reserva</mat-label>
                <mat-date-range-input 
                  [rangePicker]="campaignOnePicker" 
                  [comparisonStart]="form.value.startDate"
                  [comparisonEnd]="form.value.endDate">
                  <input matStartDate placeholder="Fecha Llegada" formControlName="startDate">
                  <input matEndDate placeholder="Fecha Salida" formControlName="endDate">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                <mat-error>{{ checkForErrorsIn('startDate') }}</mat-error>
                <mat-error>{{ checkForErrorsIn('endDate') }}</mat-error>
              </mat-form-field>
        
              <mat-form-field appearance="outline">
                <mat-label>Cantidad de personas</mat-label>
                <input type="number" matInput placeholder="Ingrese la cantidad de personas" formControlName="peopleCount">
                <mat-error>{{ checkForErrorsIn('peopleCount') }}</mat-error>
                <mat-icon matSuffix>people</mat-icon>
              </mat-form-field>
        
              <mat-form-field appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ingrese la ciudad de destino" formControlName="city">
                <mat-error>{{ checkForErrorsIn('city') }}</mat-error>
                <mat-icon matSuffix>place</mat-icon>
              </mat-form-field>
            </div>
          </form>   
    </mat-card-content>
    <mat-card-actions>
        <div>
            <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="doSearchRooms()">
                <mat-icon>search</mat-icon>
                Buscar
            </button>
        </div>
    </mat-card-actions>
  </mat-card>

