.search-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

mat-card {
    margin: 10px;
}

mat-form-field {
    width: 30%;
}

mat-card-actions {
    justify-content: flex-end;
}
