<h1 mat-dialog-title>{{ hotel.Name }}</h1>
<div mat-dialog-content>
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Agregar Habitación
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-hotel-rooms-detail [hotel]="hotel" (addRoom)="onAddRoom($event)"/>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-tab-group>
    <mat-tab label="Listado de habitaciones">
      <app-hotel-rooms-list [rooms]="hotel.Rooms" />      
    </mat-tab>
  </mat-tab-group>

</div>

<div mat-dialog-actions class="buttons-container">
  <button mat-raised-button color="primary" (click)="onNoClick()">OK</button>
</div>