<div class="rooms-list">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="BaseCost">
        <th mat-header-cell *matHeaderCellDef> Costo Base </th>
        <td mat-cell *matCellDef="let element"> {{ element.BaseCost | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="Taxes">
        <th mat-header-cell *matHeaderCellDef> Impuestos </th>
        <td mat-cell *matCellDef="let element"> {{ element.Taxes | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="RoomType">
        <th mat-header-cell *matHeaderCellDef> Tipo de Habitación </th>
        <td mat-cell *matCellDef="let element"> {{ element.RoomType }} </td>
      </ng-container>

      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{ element.Location }} </td>
      </ng-container>

      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef> Activa </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle class="slide" color="accent" [checked]="element.Active" [disabled]="false">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <<ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons *ngIf="rooms.length > 5">
    </mat-paginator>
  </div>